@mixin flexProp($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
    justify-items: center;
}
.graphs-wrapper{
    display: flex;
    flex-wrap: wrap
}

.dashboard-wrapper{
    @include flexProp(center);
}

.header-wrapper{
    @include flexProp(center);
    background-color: #fff;
    box-shadow: 0 0 6px 2px #ccc;
    height: 4em;

    .header{
        
    }
}

.footer-wrapper{
    @include flexProp(center);
    background-color: #fff;
    height: 5em;
}